---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import minnie from "../assets/minnie-cropped.jpg";
import { Icon } from "astro-icon/components";
import Song from "../components/Song.astro";
import SongNoListen from "../components/SongNoListen.astro";
const pageTitle = "The Songs";
---

<Layout title={pageTitle}>
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-4 lg:mt-0">
    <div class="lg:col-span-7">
      <h1 class="text-xl lg:text-3xl font-bold mb-4">Listen to the Songs 🎵</h1>
      <p class="text-lg lg:text-xl mb-4">
        The following audio tracks were recorded around 1980, featuring Minnie
        on piano, her daughter Jenny on vocals, and her sister Cookie on guitar
        and vocals.
      </p>

      <p class="text-lg lg:text-xl">
        Sheet music is available as printable PDFs, including standard piano,
        vocal, and chord notation <a href="/preview" class="text-brand-accent"
          >(preview here)</a
        >. Each song also comes with a separate lyrics-only page for easy
        reference.
      </p>
    </div>
    <div
      class="bg-orange-100 rounded-2xl lg:p-8 p-4 col-span-1 lg:col-span-5 w-full sm:col-span-5"
    >
      <p class="text-lg font-bold sm:text-xl mb-4">
        Free Sheet Music Downloads!
      </p>
      <p class="text-lg sm:text-xl">
        Click the "Sheet Music" button on any song to download the PDF instantly. All songs are available for free!
      </p>
    </div>
    <!-- <p class="text-lg sm:text-xl">
      We hope you enjoy these songs and find them easy to use and share!
    </p> -->
  </div>

  <Song
    songName="Caring"
    listenLink="/songs/caring"
    pdfLink="/pdfs/caring.pdf"
  />
  <Song
    songName="Come Along"
    listenLink="/songs/come-along"
    pdfLink="/pdfs/come-along.pdf"
  />
  <Song
    songName="I Want To Be The Best I Can Be"
    listenLink="/songs/i-want-to-be-the-best-i-can-be"
    pdfLink="/pdfs/i-want-to-be-the-best-i-can-be.pdf"
  />
  <Song
    songName="Listening"
    listenLink="/songs/listening"
    pdfLink="/pdfs/listening.pdf"
  />
  <Song
    songName="Most Valuable Player"
    listenLink="/songs/most-valuable-player"
    pdfLink="/pdfs/most-valuable-player.pdf"
  />
  <Song
    songName="Put Down Blues"
    listenLink="/songs/put-down-blues"
    pdfLink="/pdfs/put-down-blues.pdf"
  />
  <Song
    songName="Shine Like a Star"
    listenLink="/songs/shine-like-a-star"
    pdfLink="/pdfs/shine-like-a-star.pdf"
  />
  <Song
    songName="The Nicest Person"
    listenLink="/songs/the-nicest-person"
    pdfLink="/pdfs/the-nicest-person.pdf"
  />
  <Song
    songName="Treasure Chests"
    listenLink="/songs/treasure-chests"
    pdfLink="/pdfs/treasure-chests.pdf"
  />
  <SongNoListen
    songName="Complete Song Book"
    pdfLink="/pdfs/come-along-songs-all.pdf"
  />
</Layout>
