<footer class="bg-brand-accent text-white text-sm py-8 mt-12">
  <div class="container mx-auto text-center space-y-4">
    <!-- Navigation Links -->
    <nav class="space-x-6 text-lg">
      <a
        href="/"
        class="hover:bg-brand-primary hover:text-white px-3 py-1 rounded transition text-right"
      >
        Home</a
      >
      <a
        href="/songs"
        class="hover:bg-brand-primary hover:text-white px-3 py-1 rounded transition"
      >
        The Songs</a
      >

      <a
        href="/contact"
        class="hover:bg-brand-primary hover:text-white px-3 py-1 rounded transition"
      >
        Contact</a
      >
    </nav>

    <!-- Copyright -->
    <p>
      &copy; <span id="year">{new Date().getFullYear()}</span>
      <a href="https://mattoleary.design" class="hover:underline text-cyan-300"
        >Matt O'Leary Design</a
      >
    </p>
  </div>
</footer>
