<footer class="bg-brand-accent text-white text-sm py-8 mt-12">
  <div class="container mx-auto text-center space-y-4">
    <!-- Navigation Links -->
    <nav class="space-x-6 text-lg">
      <a
        href="/"
        class="hover:bg-brand-primary hover:text-white px-3 py-1 rounded transition text-right"
      >
        Home</a
      >
      <a
        href="/songs"
        class="hover:bg-brand-primary hover:text-white px-3 py-1 rounded transition"
      >
        The Songs</a
      >

      <a
        href="/contact"
        class="hover:bg-brand-primary hover:text-white px-3 py-1 rounded transition"
      >
        Contact</a
      >
    </nav>

    <!-- Support Section -->
    <div class="py-6">
      <h3 class="text-xl font-bold mb-3">Help Support This Site</h3>
      <p class="text-base mb-4 px-4 max-w-4xl mx-auto">
        If you enjoy Minnie's music and would like to support the maintenance of
        this site, consider making a donation!
      </p>
      <script
        type="text/javascript"
        src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script>
      <script type="text/javascript">
        kofiwidget2.init("Support me on Ko-fi", "#f06a03", "E1E51NT8UY");
        kofiwidget2.draw();
      </script>
    </div>

    <!-- Copyright -->
    <p>
      &copy; <span id="year">{new Date().getFullYear()}</span>
      <a href="https://mattoleary.design" class="hover:underline text-cyan-300"
        >Matt O'Leary Design</a
      >
    </p>
  </div>
</footer>
