---
import { Image } from "astro:assets";
import header from "../assets/come-along-logo-1.svg";
import Nav from "../components/Nav.astro";
---

<a href="/">
  <Image
    src={header}
    alt="Come Along Songs Logo"
    class="mx-auto mt-2 px-4 xl:px-0"
  />
</a>
<div class="flex justify-center">
  <Nav />
</div>
