<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="grid grid-cols-3">
    <a href="/">
      <div>Home</div>
    </a>
    <a href="/songs">
      <div>The Songs</div>
    </a>
    <a href="/contact">
      <div>Contact</div>
    </a>
  </div>
</div>
