---
const { pathname } = Astro.url;
const isActive = (path: string) => {
  if (path === "/") {
    return pathname === "/" || pathname === "";
  }
  return pathname === path || pathname === path + "/";
};
---

<div class="max-w-6xl mx-auto px-4">
  <div class="flex text-2xl font-semibold text-brand-primary space-x-8">
    <a
      href="/"
      class:list={[
        isActive("/") &&
          "text-stone-600 font-bold underline decoration-4 underline-offset-8",
      ]}
    >
      <div>Home</div>
    </a>
    <a
      href="/songs"
      class:list={[
        isActive("/songs") &&
          "text-stone-600 font-bold underline decoration-4 underline-offset-8",
      ]}
    >
      <div>The Songs</div>
    </a>
    <a
      href="/contact"
      class:list={[
        isActive("/contact") &&
          "text-stone-600 font-bold underline decoration-4 underline-offset-8",
      ]}
    >
      <div>Contact</div>
    </a>
  </div>
</div>
