---
const { songName, listenLink, buyLink } = Astro.props;
---

<div
  class="text-2xl font-bold grid grid-cols-1 lg:grid-cols-2 gap-4 my-6 bg-orange-100 rounded-2xl p-6"
>
  <!-- Caring text container -->
  <div class="flex items-center justify-center lg:justify-start">
    <a href={listenLink} class="block hover:underline hover:text-brand-primary"
      >{songName}</a
    >
  </div>

  <!-- Buttons container -->
  <div class="flex justify-center lg:justify-end items-center gap-4">
    <a href={listenLink}>
      <div
        class="bg-brand-primary hover:bg-brand-secondary rounded-full py-4 text-white sm:text-xl text-base sm:px-8 px-4 cursor-pointer"
      >
        Listen
      </div></a
    >
    <a href={buyLink}>
      <div
        class="bg-brand-accent hover:bg-brand-accent2 rounded-full py-4 text-white sm:text-xl sm:px-8 px-4 text-base cursor-pointer"
      >
        Buy Sheet Music
      </div>
    </a>
  </div>
</div>
