---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
const pageTitle = "Put Down Blues";
const lesson = "We can be patient with mistakes.";
const audioLink = "../audio/put-down-blues.mp3";
---

<Layout title={pageTitle}>
  <div class="max-w-3xl mx-auto">
    <div class="flex items-center gap-2 text-lg">
      <a href="/songs">
        <Icon name="arrow-left" class="w-6 h-6 text-brand-accent" />
      </a>
      <a href="/songs" class="text-brand-accent hover:underline">All songs</a>
    </div>

    <div class="text-4xl lg:text-5xl font-bold mt-6 mb-4">
      <!-- Caring text container -->
      <div class="">
        {pageTitle}
      </div>
    </div>
    <p class="text-base lg:text-lg mb-6 italic">
      {lesson}
    </p>
    <!-- Buttons container -->
    <div class="mb-6">
      <audio
        controls
        class="outline outline-2 outline-offset-2 outline-brand-primary w-full rounded-full"
      >
        <source src={audioLink} type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </div>

    <div class="text-lg lg:text-xl leading-relaxed">
      <div class="font-bold mb-4">
        <p class="text-brand-accent">Chorus</p>
        I hate to hear what I’m doing wrong<br />
        Every day of the year;<br />
        I’d rather hear what I’m doing right,<br />
        And where do I go from here?
      </div>

      <p class="mb-4">
        I spilled my milk glass,<br />
        Accidentally dropped.<br />
        Don’t want to feel I’m clumsy,<br />
        Just tell me where’s the mop.
      </p>

      <div class="font-bold mt-6 mb-4">
        <p class="text-brand-accent">Chorus</p>
      </div>

      <p class="mb-4">
        Borrowed a basketball,<br />
        Somehow it got lost.<br />
        Don’t want to feel I’m careless,<br />
        Just how much does it cost?
      </p>

      <div class="font-bold mt-6 mb-4">
        <p class="text-brand-accent">Chorus</p>
      </div>

      <p class="mb-4">
        Sometimes, in my school work,<br />
        I fall way behind;<br />
        Need to see what I’ve done right and<br />
        Try it one more time.
      </p>

      <div class="font-bold mt-6 mb-4">
        <p class="text-brand-accent">Chorus</p>
      </div>
    </div>
  </div>
</Layout>
