---
import "../styles/main.css";
import "@fontsource-variable/nunito";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-amber-50 min-h-screen grid grid-rows-layout">
    <!-- Header -->
    <!-- Main Content -->
    <main class="p-4 max-w-4xl mx-auto w-full">
      <h2></h2>
      <slot />
    </main>
    <!-- Footer -->
    <script src="/src/scripts/fslightbox.js"></script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    height: 100%;
  }

  /* Define the layout for the grid container */
  .grid-rows-layout {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
  }
</style>
